h1 {
  color: #FF7F50;
}
h3 {
  color: #800080;
}
.card__header {
  background: #c00;
}
.card__title {
  color: #fff;
}
.card__number {
  background-color: #000;
  float: right;
  height: 30px;
  opacity: .5;
  text-align: center;
  width: 30px;
}
