html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body{ 
  background: linear-gradient(0deg, #bbb, #ededed);
  position: relative;
}

.card {
  background-color: #fff;
  font-family: overpass;
  margin: 0 auto;
  width: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card__push-left {
 margin-left: 12px;
}

.card__tab-wrapper {
  background: linear-gradient(#c00, #470000);
  overflow: hidden; 
  border: 1px solid #ccc;
  color: #fff;
}

.card__tabs {
  float: right;
  white-space: nowrap;
}

.card__tab {
    background-color: inherit;
    border: .1px solid #ededed;
    color: #fff;
    float: right;
    font-family: overpass;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.card__tab:hover,
.card__tab.active {
    background: radial-gradient(#c00, #470000);
}
 
.card__tab-link {
  color: #fff;
  text-decoration: none;
}

.card__tab-link:hover {
  opacity: .7;
}

.card__tab-title {
  display: inline-block;
}

.card__body-summary {
  font-weight: 600;
}

.card__data {
  line-height: 2;
  list-style: none;
  padding-bottom: 22px;
  padding-left: 0;
  width: 100%;
}  

.card__key {
  font-weight: 600;
  min-width: 45%;
}

.card__status-active {
  background: green;
  border-radius: 3px;
  color: #fff;
  padding: 4px;
}

/*mobile first breakpoints*/
@media only screen and (min-width: 768px) {
  
  .card {
    max-width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  
  .card {
    max-width: 30%;
  }
}

