// less variables
@cardcolor: #c00;
@cardtitle: #fff;
@cardnumbersize: 25px;
@floatright: right;

.card {
  font-family: Overpass;
  margin-top: 200px;
}
.card__header {
  background: @cardcolor;
}
.card__title {
  color: @cardtitle;
  line-height: 1.5;
  margin-left: 7px;
}
.card__number {
  background-color: #470000;
  bottom: 3px;
  float: @floatright;
  height: @cardnumbersize;
  padding-top: 2px;
  position: relative;
  right: 7px;
  width: @cardnumbersize;
}
.card__body {
  background-color: #fff;
  box-shadow: 0px 2px 5px #888888;
  height: 100px;
}