h1 {
  color: #FF7F50;
}

h3 {
  color: #800080;
}

.card {
  font-family: Overpass;
  margin-top: 200px;
}

.card__header {
  background: #c00;
}

.card__title {
  color: #fff;
}

.card__number {
  background-color: #000;
  float: right;
  height: 30px;
  opacity: .5;
  width: 30px;
}
.card__body {
  background-color: #fff;
  box-shadow: 10px 10px 5px #888888;
  height: 100px;
}
