html,
body {
  height: 100%;
}

body {
  background: linear-gradient(0deg, #bbb, #ededed);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: overpass;
}

.card {
  background-color: #fff;
  flex: 0 1 500px;
}

.card__body {
  padding: 20px;
}

.card__body-heading {
  line-height: 1;
}

.card__tab-wrapper {
  background: linear-gradient(#c00, #470000);
  overflow: hidden;
  color: #fff;
  padding-left: 10px;
}

.card__tabs {
  list-style: none;
  margin: 0;
}

.card__tab {
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  float: right;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  opacity: .7;
}

.card__tab:hover:not(.card__tab--title),  
.card__tab:active {
  background: radial-gradient(90% 60%, #c00, #470000);
  opacity: 1;
}

.card__tab-title {
  font-size: 17px;
  float: left;
  position: relative;
  top: 3px;
}

.card__body-summary {
  font-weight: 600;
}

.card__data {
  line-height: 2;
  list-style: none;
  width: 100%;
}

.card__key {
  font-weight: 600;
  min-width: 30%;
}

.card__status-active {
  background: green;
  border-radius: 3px;
  color: #fff;
  padding: 4px;
}



