@primarycolor: #FF7F50;
@color:#800080;
@cardcolor: #c00;
@cardtitle: #fff;
h1{
	color: @primarycolor;
}

h3{
	color: @color;
}

.card__header {
	background: @cardcolor;
}

.card__title {
	color: @cardtitle;
}